</head>
<body>
	<nav class="navbar container-fluid">
		<div class="navbar-text container-fluid col-6 row">
			<% if (currentUser) { %>
				<h4 class="col-12" id="userDisplay"><%= currentUser.email %></h4>
			<% } else { %>
				<h3 class="col-12">Ricky's RTD Pass</h3>
			<% } %>
		</div>
		<div class="text-xs-center col-6 row">
			<% if (currentUser) { %>
				<button id="logOutBtn" class="container-fluid btn-primary btn-left col-6 nav-btn">Log Out</button>
			<% } else { %>
				<button id="logInBtn" class="container-fluid btn-primary btn-left col-6 nav-btn">Log In</button>
			<% } %>
			<button id="signUpBtn" class="container-fluid btn-primary btn-right col-6 nav-btn">Sign Up</button>
		</div>
	</nav>

	<div id="map" class="container-fluid">
