</head>
<body>
	<nav class="navbar container-fluid">
		<div class="navbar-text bg-primary container-fluid col-6 row">
			<h1 class="col-12">Ricky's RTD Pass</h1>
		</div>
		<div class="text-xs-center col-6 row">
			<button id="logInBtn" class="container-fluid btn-primary btn-left col-6">Log In</button>
			<button id="signUpBtn" class="container-fluid btn-primary btn-right col-6">Sign Up</button>
		</div>
	</nav>

	<div id="map" class="container-fluid">
