<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>
<br><br>
<div class="container jumbotron opaque">
	<h2>Take/Leave a pass with available time.</h2>
	<h2>Sign up or log in to get started now!</h2>
	<h2>Coming Soon:</h2>
	<h4>-view passes you've left-</h4>
	<h4>-separate expiration &amp; note-</h4>
	<h4>-remove expired markers-</h4>
	<h4>-include other categories-</h4>
</div>

<% include ./partials/footer.ejs %>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>