<% include ./partials/header.ejs %>

<% include ./partials/nav.ejs %>

<h2>Take/Leave a pass with available time.</h2>

<h2>Sign up or log in to get started!</h2>

<h2>-Demo Mode-</h2>

<h1>more features coming</h1>
	
<% include ./partials/footer.ejs %>

<script type="text/javascript" src="js/app.js"></script>
</body>
</html>